<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Proyecto</title>

        <!-- Custom fonts for this template-->
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="./css/sb-admin-2.css" rel="stylesheet" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script>
          $( document ).ready(function() {


              var dataPoints = []; // Data de la vista y agregar puntos con formato {x: i,y: y}
              var dataPoints2 = [];
              var temp_promedio = [];
              var hum_promedio = [];
              var chart_temp;
              var chart_hum;
              $.get("/datitos")
                .done(function (msg) {

                    for (var j = 0; j < msg.length; j++){

                       var date = new Date(parseInt(msg[j].timeStamp))
                       var horita = date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
                       dataPoints.push({label: horita, y: msg[j].temperatura})
                       dataPoints2.push({label: horita, y: msg[j].humedad})
                       // chart_temp.options.data[0].dataPoints.push({label: msg[j].timeStamp, y: msg[j].temperatura})
                       temp_promedio.push(msg[j].temperatura)
                       hum_promedio.push(msg[j].humedad)
                    }

                   var data = [];
                   var dataSeries = { type: "line" };

                   dataSeries.dataPoints = dataPoints;
                   data.push(dataSeries);

                   var options = {
                          zoomEnabled: true,
                          animationEnabled: true,
                          axisX: {
                                 labelAngle: -50,
                                 labelFontColor: "rgb(0,75,141)",
                                 },
                          axisY: {
                                 lineThickness: 1,
                                 suffix: "°C"
                                 },
                                 data: data
                                 };

                   chart_temp = new CanvasJS.Chart("charTemperatura", options);
                   chart_temp.render();
                   chart_temp.render();

                   document.getElementById('tt_pp').textContent = String(valor_promedio(temp_promedio));


                   var data2 = [];
                   var dataSeries2 = { type: "line" };

                   dataSeries2.dataPoints = dataPoints2;
                   data2.push(dataSeries2);

                   var options2 = {
                       zoomEnabled: true,
                       animationEnabled: true,
                       axisX: {
                            labelAngle: -50,
                            labelFontColor: "rgb(0,75,141)",
                            },
                       axisY: {lineThickness: 1,suffix:"g / m³"},
                       data: data2};


                   chart_hum = new CanvasJS.Chart("charHumedad", options2);
                   chart_hum.render();
                   chart_hum.render();

                   document.getElementById('hh_pp').textContent = String(valor_promedio(hum_promedio));

                }).fail(function (err) {
                    console.log("an error has ocurred")
                });

                function valor_promedio(listita){
                    var vv = 0;
                    for (var m = 0; m < listita.length; m++){
                        vv = vv + listita[m];
                    }

                    return (vv/(listita.length)).toFixed(4)
                }

             let socket = io();
             socket.on("var_temp", function (data) {
                   let humedad = data.humedad
                   let temperatura = data.temperatura
                   let timestamp = data.timestamp
                   let presencia = data.presencia

                   chart_temp.options.data[0].dataPoints.push({label: timestamp, y: temperatura})

                   chart_hum.options.data[0].dataPoints.push({label: timestamp, y: humedad})

                   chart_temp.render();
                   chart_hum.render();

             });

          });
    

        </script>

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Inicio</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    Mediciones
                </div>

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="/temperatura">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Temperatura-Humedad</span></a>
                </li>

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="/presencia">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Presencia</span></a>
                </li>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content" >

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white  mb-4 static-top shadow" style="text-align: center">
                        <h1 style="margin-left: 680px">TEMPERATURA - HUMEDAD</h1></nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid" style="text-align: center;">

                        <div class="row" style="margin-left: 150px;">

                            <div class="col-xl-7 col-lg-7" style="margin-left: -150px">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Temperature</h6>
                                    </div>
                                    <div id="charTemperatura"></div>
                                </div>
                            </div>

                            <div class="col-xl-4" style="margin-left: 150px;margin-top:120px">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Temp. Prom</h6>
                                        <div class="card" style="margin-top:20px">
                                          <p style="margin-top:20px"><span class="reading"><span id="tt_pp"></span> &deg;C</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="container-fluid" style="text-align: center;margin-top: 300px;">

                                        <div class="row" style="margin-left: 150px;margin-bottom: 300px">

                                                <div class="col-xl-7 col-lg-7" style="margin-left: -150px">
                                                    <div class="card shadow mb-4">
                                                        <div class="card-header py-3">
                                                            <h6 class="m-0 font-weight-bold text-primary">Humidity</h6>
                                                        </div>
                                                        <div id="charHumedad"></div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4" style="margin-left: 150px;margin-top:150px">
                                                               <div class="card shadow mb-4">
                                                             <div class="card-header py-3">
                                                             <h6 class="m-0 font-weight-bold text-primary">Hum. Prom</h6>
                                                                  <div class="card" style="margin-top: 20px">
                                                                <p style="margin-top:20px"><span class="reading"><span id="hh_pp"></span> &percnt;</span></p>
                                                               </div>
                                                             </div>
                                                      </div>
                                                </div>

                                            </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->


            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->


        <!-- Bootstrap core JavaScript-->
        <script src="./vendor/jquery/jquery.min.js"></script>
        <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


        <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>

        <script src="./js/sb-admin-2.min.js"></script>

    </body>

</html>